openapi: 3.1.0
info:
  title: DoDays API
  version: "1.0"
  description: The DoDays API reference.
  contact:
    name: DoDays Engineering
    email: engineering@dodays.co.uk
  license:
    name: Proprietary
    identifier: Proprietary
servers:
  - description: Production
    url: "https://api.dodays.co.uk/v1"
  - description: Staging
    url: "https://api.dodays-staging.co.uk/v1"
  - description: Local
    url: "http://api.dodays.test/v1"
paths:
  /abilities:
    parameters: []
    get:
      operationId: get-abilities
      summary: List abilities
      description: Retrieve a list of abilities.
      responses:
        "200":
          description: Returns a list of abilities.
          content:
            application/json:
              schema:
                type: object
                properties:
                  "1":
                    type: string
                  "2":
                    type: string
                  "3":
                    type: string
              examples:
                Example 1:
                  value:
                    "1": Beginner
                    "2": Intermediate
                    "3": Advanced
      x-internal: false
      security: []
      tags:
        - Abilities
  /account/details:
    parameters: []
    patch:
      summary: Update details
      operationId: patch-details
      responses:
        "200":
          $ref: "#/components/responses/User"
      description: Update the account holders details.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                email:
                  type: string
                telephone:
                  type: string
                street:
                  type: string
                town:
                  type: string
                region:
                  type: string
                postcode:
                  type: string
                medical:
                  type: string
              required:
                - first_name
                - last_name
                - email
                - telephone
            examples:
              Example 1:
                value:
                  first_name: DoDays
                  last_name: User
                  email: user@dodays.co.uk
                  telephone: "01912345678"
                  street: 1 User Street
                  town: User Town
                  region: User
                  postcode: BR0WN
                  medical: Some medical information
        description: Updates the users account.
      tags:
        - Account
  /account/emergency-contact:
    parameters: []
    patch:
      summary: Update emergency contact
      operationId: patch-emergency-contact
      responses:
        "200":
          $ref: "#/components/responses/User"
      description: Update the account holders emergency contact.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                telephone:
                  type: string
                relationship:
                  type: string
            examples:
              Example 1:
                value:
                  name: DoDays Emergency
                  telephone: "01912345679"
                  relationship: emergency@dodays.co.uk
        description: Updates the users emergency contact.
      tags:
        - Account
  /account/password:
    parameters: []
    patch:
      summary: Update password
      operationId: patch-password
      responses:
        "200":
          $ref: "#/components/responses/User"
      description: Update the account password.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password:
                  type: string
                new_password:
                  type: string
                new_password_confirmation:
                  type: string
              required:
                - current_password
                - new_password
                - new_password_confirmation
            examples:
              Example 1:
                value:
                  current_password: password
                  new_password: new-password
                  new_password_confirmation: new-password
        description: Updates the users password.
      x-internal: false
      tags:
        - Account
  /account/attach-payment-method:
    parameters: []
    post:
      summary: Attach Payment Method
      operationId: post-attach-payment-method
      responses:
        "204":
          description: No content.
      tags:
        - Account
      description: Attach a payment method to the user.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                provider_id:
                  type: integer
                payment_method:
                  type: string
              required:
                - provider_id
                - payment_method
            examples:
              Example 1:
                value:
                  provider_id: 1
                  payment_method: card
        description: Attaches a new payment method to the authenticated user for a given provider.
  /account/marketing-consent:
    parameters: []
    patch:
      summary: Update marketing consent
      operationId: patch-marketing-consent
      responses:
        "204":
          description: No content.
      description: Update the account holders marketing consent.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                provider_id:
                  type: integer
              required:
                - provider_id
            examples:
              Example 1:
                value:
                  provider_id: 1
        description: Toggles the users marketing consent for a given provider.
      x-internal: false
      tags:
        - Account
  /account/photo-consent:
    parameters: []
    patch:
      summary: Update photo consent
      operationId: patch-photo-consent
      responses:
        "204":
          description: No content.
      description: Update the account holders photo consent.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                provider_id:
                  type: integer
              required:
                - provider_id
            examples:
              Example 1:
                value:
                  provider_id: 1
        description: Toggles the users photo consent for a given provider.
      x-internal: false
      tags:
        - Account
  /account/session-reminders:
    parameters: []
    patch:
      summary: Update session reminders
      operationId: patch-session-reminders
      responses:
        "204":
          description: No content.
      description: Update the account holders session reminders.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                provider_id:
                  type: integer
              required:
                - provider_id
            examples:
              Example 1:
                value:
                  provider_id: 1
        description: Toggles the users session reminders setting for a given provider.
      x-internal: false
      tags:
        - Account
  /activities:
    parameters: []
    get:
      summary: List activities
      operationId: get-activities
      responses:
        "200":
          description: Returns a list of activities.
          content:
            application/json:
              schema:
                type: object
                properties:
                  "1":
                    type: string
                  "2":
                    type: string
                  "3":
                    type: string
              examples:
                Example 1:
                  value:
                    "1": Swimming
                    "2": Yoga
                    "3": Cookery
      description: Retrieve a list of activities.
      x-internal: false
      security: []
      tags:
        - Activities
  /whoami:
    parameters: []
    get:
      summary: Whoami
      operationId: get-whoami
      responses:
        "200":
          $ref: "#/components/responses/User"
      description: Retrieve the authenticated user.
      tags:
        - Auth
  /auth/register:
    parameters: []
    post:
      summary: Register a user
      operationId: post-register
      responses:
        "201":
          $ref: "#/components/responses/Token"
      description: Register and retrieve a token.
      security: []
      tags:
        - Auth
      requestBody:
        $ref: "#/components/requestBodies/Register"
  /auth/token:
    parameters: []
    post:
      summary: Get a token
      operationId: post-token
      responses:
        "200":
          $ref: "#/components/responses/Token"
      description: Sign in and retrieve a token.
      security: []
      tags:
        - Auth
      requestBody:
        $ref: "#/components/requestBodies/Token"
  /auth/forgot-password:
    parameters: []
    post:
      summary: Password reset link
      operationId: post-forgot-password
      responses:
        "200":
          $ref: "#/components/responses/Status"
      description: Request a password reset link.
      security: []
      tags:
        - Auth
      requestBody:
        $ref: "#/components/requestBodies/ForgotPassword"
  /auth/reset-password:
    parameters: []
    post:
      summary: Reset password
      operationId: post-reset-password
      responses:
        "200":
          $ref: "#/components/responses/Status"
      description: Reset the users password.
      security: []
      tags:
        - Auth
      requestBody:
        $ref: "#/components/requestBodies/ResetPassword"
  /booking-sessions:
    parameters: []
    get:
      summary: List booking sessions
      operationId: get-booking-sessions
      responses:
        "200":
          description: Returns a list of Booking Session objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/BookingSession"
      description: Retrieve a list of booking sessions.
      parameters:
        - schema:
            type: integer
          in: query
          name: "filter[provider]"
          description: ID of the provider
        - schema:
            type: integer
          in: query
          name: "filter[student]"
          description: ID of the student
        - schema:
            type: boolean
          in: query
          name: "filter[banked]"
          description: Whether the booking session has been banked
      tags:
        - Booking Sessions
  "/booking-sessions/{bookingSessionId}/bank":
    parameters:
      - schema:
          type: string
        name: bookingSessionId
        in: path
        required: true
    post:
      operationId: post-bank-booking-session
      summary: Bank booking session
      description: Bank a booking session.
      responses:
        "204":
          description: No content.
      x-internal: false
      tags:
        - Booking Sessions
  /bookings:
    parameters: []
    post:
      summary: Create a booking
      operationId: post-booking
      responses:
        "201":
          description: Booking created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Booking"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                class_id:
                  type: integer
                sessions:
                  type: array
                  items:
                    type: integer
                students:
                  type: array
                  items:
                    type: integer
                price_id:
                  type: integer
                plan_id:
                  type: integer
                discount_id:
                  type: integer
                voucher_id:
                  type: integer
                payment_amount:
                  type: integer
                voucher_amount:
                  type: integer
                credit_amount:
                  type: integer
                payment_intent:
                  type: string
                payment_method:
                  type: string
                save_payment_method:
                  type: boolean
                invite_code:
                  type: string
                terms:
                  type: boolean
                loco_parentis:
                  type: boolean
                marketing_consent:
                  type: boolean
                photo_consent:
                  type: boolean
                referral:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - friend
                        - wordOfMouth
                        - searchEngine
                        - facebook
                        - twitter
                        - instagram
                        - clubHub
                        - whatsOn4Kids
                        - netmums
                        - leaflet
                        - tvRadio
                        - event
                        - other
                    name:
                      type: string
                emergency:
                  type: object
                  properties:
                    name:
                      type: string
                    telephone:
                      type: string
        description: Creates a new booking.
      description: Create a new booking.
      x-internal: false
      tags:
        - Bookings
    get:
      operationId: get-bookings
      summary: List bookings
      description: Retrieve a list of bookings.
      parameters:
        - schema:
            type: integer
          in: query
          name: "filter[provider]"
          description: ID of the provider
        - schema:
            type: integer
          in: query
          name: "filter[student]"
          description: ID of the student
        - schema:
            type: boolean
          in: query
          name: "filter[ended]"
          description: Whether the booking has ended
        - schema:
            type: string
          in: query
          name: include
          description: Related resources to include
      responses:
        "200":
          description: Returns a list of Booking objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Booking"
      tags:
        - Bookings
  /bookings/calculate:
    parameters: []
    get:
      summary: Calculate booking costs
      operationId: get-booking-calculation
      responses:
        "200":
          description: Returns the calculated booking costs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  booking_net:
                    type: integer
                  booking_discount:
                    type: integer
                  booking_fee:
                    type: integer
                  booking_gross:
                    type: integer
                  subscription_net:
                    type: integer
                  subscription_discount:
                    type: integer
                  subscription_fee:
                    type: integer
                  subscription_gross:
                    type: integer
                  subscription_upfront_net:
                    type: integer
                  subscription_upfront_discount:
                    type: integer
                  subscription_upfront_fee:
                    type: integer
                  subscription_upfront_gross:
                    type: integer
                  voucher_amount:
                    type: integer
                  credit_amount:
                    type: integer
                  amount_due:
                    type: integer
                  payment_intent_amount:
                    type: integer
                  force_absorb:
                    type: boolean
      description: Retrieve the Booking costs.
      parameters:
        - schema:
            type: integer
          in: query
          name: "filter[class]"
          description: ID of the class
          required: true
        - schema:
            type: array
            items:
              type: integer
          in: query
          name: "filter[sessions][]"
          description: IDs of the sessions
          required: true
        - schema:
            type: array
            items:
              type: integer
          in: query
          name: "filter[students][]"
          description: IDs of the students
          required: true
        - schema:
            type: integer
          in: query
          name: "filter[price]"
          description: ID of the price
          required: true
        - schema:
            type: integer
          in: query
          name: "filter[plan]"
          description: ID of the plan
        - schema:
            type: integer
          in: query
          name: "filter[discount]"
          description: ID of the discount
        - schema:
            type: integer
          in: query
          name: "filter[voucher]"
          description: ID of the voucher
      tags:
        - Bookings
  "/bookings/{bookingRef}":
    parameters:
      - schema:
          type: string
        name: bookingRef
        in: path
        required: true
    get:
      summary: Get a booking
      responses:
        "200":
          description: Returns the Booking object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Booking"
        "404":
          description: Booking not found.
      operationId: get-booking
      description: Retrieve the booking.
      tags:
        - Bookings
  "/bookings/{bookingRef}/pay":
    parameters:
      - schema:
          type: string
        name: bookingRef
        in: path
        required: true
    post:
      summary: Pay booking
      operationId: post-pay-booking
      responses:
        "204":
          description: No content.
      description: Pay a booking.
      tags:
        - Bookings
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_intent:
                  type: string
                credit_amount:
                  type: integer
        description: Pays for a booking.
  /available-catch-up-sessions:
    parameters: []
    get:
      operationId: get-available-catch-up-sessions
      summary: List catch-up sessions
      description: Retrieve a list of available catch-up sessions.
      responses:
        "200":
          description: Returns a list of Session objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Session"
      parameters:
        - schema:
            type: integer
          in: query
          name: "filter[banked_session]"
          description: ID of the banked booking session
        - schema:
            type: string
          in: query
          name: include
          description: Related resources to include
      tags:
        - Catch-ups
  /catch-ups:
    parameters: []
    post:
      summary: Book catch-up
      operationId: post-book-catch-up
      description: Book a catch-up session.
      responses:
        "201":
          description: Catch-up session created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Booking"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                banked_session_id:
                  type: integer
                session_id:
                  type: integer
        description: Books a booking session.
      x-internal: false
      tags:
        - Catch-ups
  /classes:
    parameters: []
    get:
      summary: List classes
      operationId: get-classes
      description: Retrieve a list of classes.
      responses:
        "200":
          description: Returns a list of Class objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Class"
                  links:
                    $ref: "#/components/schemas/PaginationLinks"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
      parameters:
        - schema:
            type: integer
          in: query
          name: "filter[provider]"
          description: ID of the provider
        - schema:
            type: integer
            format: date
          in: query
          name: "filter[term]"
          description: ID of the term
        - schema:
            type: integer
          in: query
          name: "filter[venue]"
          description: ID of the venue
        - schema:
            type: integer
          in: query
          name: "filter[stage]"
          description: ID of the stage
        - schema:
            type: number
          in: query
          name: "filter[latitude]"
          description: Current location latitude
        - schema:
            type: number
          in: query
          name: "filter[longitude]"
          description: Current location longitude
        - schema:
            type: string
          in: query
          name: "filter[age][interval]"
          description: "Interval between the min and max age i.e. month, year"
        - schema:
            type: integer
          in: query
          name: "filter[age][min]"
          description: Minimum age threshold
        - schema:
            type: integer
          in: query
          name: "filter[age][max]"
          description: Maximum age threshold
        - schema:
            type: integer
          in: query
          name: "filter[ability]"
          description: ID of the ability
        - schema:
            type: integer
          in: query
          name: "filter[activity]"
          description: ID of the activity
        - schema:
            type: string
          in: query
          name: "filter[day]"
          description: "Numerical day of the week i.e. 1 = Sunday, 2 = Monday etc."
        - schema:
            type: string
          in: query
          name: "filter[search]"
          description: "Phrase to match the class name, venue name and provider name"
        - schema:
            type: integer
          in: query
          name: page
          description: Pagination page number
        - schema:
            type: integer
          in: query
          name: limit
          description: Pagination page limit
      security: []
      tags:
        - Classes
  "/classes/{classId}":
    parameters:
      - schema:
          type: string
        name: classId
        in: path
        required: true
    get:
      summary: Get a class
      responses:
        "200":
          description: Returns a Class object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Class"
        "404":
          description: Class not found.
      operationId: get-class
      description: Retrieve the class.
      x-internal: false
      tags:
        - Classes
      security: []
  /class-costs:
    parameters: []
    get:
      summary: List class costs
      operationId: get-class-costs
      responses:
        "200":
          description: "Returns a list of session costs, in pence format, associated to the classes in the given term."
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
      description: Retrieve a list of class costs.
      x-internal: false
      parameters:
        - schema:
            type: integer
          in: query
          name: "filter[term]"
          description: ID of the term
      security: []
      tags:
        - Classes
  /coupons/apply:
    parameters: []
    post:
      summary: Apply coupon
      operationId: post-apply-coupon
      responses:
        "200":
          description: Returns a Discount or Voucher object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/Discount"
                      - $ref: "#/components/schemas/Voucher"
                  meta:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - discount
                          - voucher
              examples: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                class:
                  type: integer
                code:
                  type: string
        description: Applies a Discount or Voucher to the booking.
      description: Apply a Discount or Voucher.
      tags:
        - Coupons
  /days:
    parameters: []
    get:
      summary: List days
      operationId: get-days
      responses:
        "200":
          description: Returns a list of days the provider delivers classes.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Example 1:
                  value:
                    - Monday
                    - Wednesday
      description: Retrieve a list of days.
      x-internal: false
      parameters:
        - schema:
            type: integer
          in: query
          name: "filter[provider]"
          description: ID of the provider
      security: []
      tags:
        - Days
  /discover:
    parameters: []
    get:
      operationId: get-discover
      summary: Discover providers or activities
      description: Retrieve a list of providers or activities.
      tags:
        - Discover
      parameters:
        - schema:
            type: string
            enum:
              - provider
              - activity
          in: query
          name: "filter[type]"
          description: Type of discovery
          required: true
        - schema:
            type: array
            items:
              $ref: "#/components/schemas/Category"
          in: query
          name: "filter[categories][]"
          description: Category functions
        - schema:
            type: array
            items:
              $ref: "#/components/schemas/Type"
          in: query
          name: "filter[types][]"
          description: Type slugs
        - schema:
            type: number
          in: query
          name: "filter[latitude]"
          description: Current location latitude
          required: true
        - schema:
            type: number
          in: query
          name: "filter[longitude]"
          description: Current location longitude
          required: true
        - schema:
            type: number
          in: query
          name: "filter[radius]"
          description: Current search radius in metres
        - schema:
            type: object
            properties:
              north:
                type: number
              south:
                type: number
              east:
                type: number
              west:
                type: number
          in: query
          name: "filter[bounds]"
          description: Viewport boundary
          style: deepObject
          explode: true
        - schema:
            type: string
          in: query
          name: filter[when]
          description: When activities are running
        - schema:
            type: string
            enum:
              - "distance"
              - "name"
              - "when"
          in: query
          name: sort
          description: Sort key
        - schema:
            type: integer
          in: query
          name: page
          description: Pagination page number
        - schema:
            type: integer
          in: query
          name: limit
          description: Pagination page limit
      responses:
        "200":
          description: |-
            Returns a list of Provider or Class objects based on the filter[type] parameter:
            - When filter[type]=provider, returns an array of Provider objects
            - When filter[type]=activity, returns an array of Class objects
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                        - $ref: "#/components/schemas/ProviderWithType"
                        - $ref: "#/components/schemas/ClassWithType"
                      discriminator:
                        propertyName: type
                        mapping:
                          provider: "#/components/schemas/ProviderWithType"
                          activity: "#/components/schemas/ClassWithType"
                  links:
                    $ref: "#/components/schemas/PaginationLinks"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
  /links:
    parameters: []
    get:
      operationId: get-link
      summary: Get a link
      description: Retrieve a provider link.
      parameters:
        - schema:
            type: integer
          in: query
          name: "filter[provider]"
          description: ID of the provider
        - schema:
            type: array
            items:
              type: string
              enum:
                - visible_balance
                - processing_amount
          in: query
          name: "fields[links][]"
          description: Optional fields to include in the response
          style: form
          explode: true
      security: []
      tags:
        - Links
      responses:
        "200":
          description: Returns the users link for the given provider.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Link"
  "/metics/{domain}/{metric}":
    parameters:
      - schema:
          type: string
        name: domain
        in: path
        required: true
      - schema:
          type: string
        name: metric
        in: path
        required: true
    get:
      summary: Get a metric
      responses:
        "200":
          description: Returns the trend or value metric.
          content:
            application/json:
              schema:
                type: object
                oneOf:
                  - properties:
                      trend:
                        type: array
                        items:
                          type: object
                          properties:
                            label:
                              type: string
                            value:
                              type: integer
                  - properties:
                      value:
                        type: integer
                      previous:
                        type: integer
        "404":
          description: Booking not found.
      operationId: get-metric
      description: Retrieve the metric.
      parameters:
        - schema:
            type: integer
          in: query
          name: provider_id
          description: ID of the provider
        - schema:
            type: string
          in: query
          name: "filter[date_range]"
          description: Date range
      tags:
        - Metrics
  /payment-intents:
    post:
      summary: Create a payment intent
      operationId: post-payment-intent
      responses:
        "200":
          description: Payment intent created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  intent:
                    type: string
                  method:
                    type: string
                  client_secret:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                provider_id:
                  type: integer
                booking_id:
                  type: integer
                subscription_id:
                  type: integer
                customer:
                  type: string
                payment_method:
                  type: string
                amount:
                  type: integer
                force_absorb:
                  type: boolean
                overrides:
                  type: object
                  properties:
                    payment_method_types:
                      type: array
                      items:
                        type: string
                    setup_future_usage:
                      type:
                        - string
                        - "null"
                    capture_method:
                      type: string
              required:
                - provider_id
                - payment_method
                - amount
        description: Creates a new payment intent on Stripe.
      description: Create a new payment intent.
      x-internal: false
      tags:
        - Payment Intents
    parameters: []
    patch:
      summary: Update a payment intent
      operationId: patch-payment-intent
      responses:
        "200":
          description: Payment intent updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  intent:
                    type: string
                  method:
                    type: string
                  client_secret:
                    type: string
      description: Updates a payment intent.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                provider_id:
                  type: integer
                booking_id:
                  type: integer
                subscription_id:
                  type: integer
                payment_intent:
                  type: string
                payment_method:
                  type: string
                amount:
                  type: integer
                force_absorb:
                  type: boolean
        description: Updates the payment intent on Stripe.
      tags:
        - Payment Intents
  /payments:
    parameters: []
    get:
      summary: List payments
      operationId: get-payments
      responses:
        "200":
          description: Returns a list of Payment objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Payment"
      description: Retrieve a list of payments.
      parameters:
        - schema:
            type: integer
          in: query
          name: "filter[provider]"
          description: ID of the provider
      tags:
        - Payments
  /ping:
    parameters: []
    get:
      summary: Ping
      operationId: get-ping
      responses:
        "200":
          description: Pong.
          content:
            application/json:
              schema:
                type: array
                items: {}
              examples:
                Example 1:
                  value:
                    - pong
      description: Ping pong.
      tags:
        - Ping
  /prices:
    parameters: []
    get:
      summary: List prices
      operationId: get-prices
      responses:
        "200":
          description: |-
            Returns a list of Price objects.

            When the class filter is provided, the list contains only prices that are available for this class.

            When the students filter is provided, the list contains only prices that are available for all students.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Price"
      description: Retrieve a list of prices.
      parameters:
        - schema:
            type: integer
          in: query
          name: "filter[class]"
          description: ID of the class
          required: true
        - schema:
            type: array
            items:
              type: integer
          in: query
          name: "filter[students][]"
          description: IDs of the students
          required: true
      tags:
        - Prices
  /providers:
    parameters: []
    get:
      summary: List providers
      operationId: get-providers
      responses:
        "200":
          description: |-
            Returns a list of Provider objects.

            When the user filter is provided, the list contains only providers the user is linked too.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Provider"
      description: Retrieve a list of providers.
      x-internal: false
      parameters:
        - schema:
            type: integer
          in: query
          name: "filter[user]"
          description: ID of the user
      tags:
        - Providers
      security: []
  "/providers/{providerId}":
    parameters:
      - schema:
          type: string
        name: providerId
        in: path
        required: true
      - schema:
          type: string
        in: query
        name: include
        description: Related resources to include
    get:
      summary: Get an provider
      responses:
        "200":
          description: Returns a Provider object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Provider"
        "404":
          description: Provider not found.
      operationId: get-provider
      description: Retrieve the provider.
      x-internal: false
      tags:
        - Providers
      security: []
  /referrals:
    parameters: []
    get:
      summary: List referrals
      operationId: get-referrals
      responses:
        "200":
          description: Returns a list of referrals.
          content:
            application/json:
              schema:
                type: object
                properties:
                  facebook:
                    type: string
                  searchEngine:
                    type: string
                  wordOfMouth:
                    type: string
              examples:
                Example 1:
                  value:
                    facebook: Facebook
                    searchEngine: Search Engine
                    wordOfMouth: Word Of Mouth
      description: Retrieve a list of referrals.
      x-internal: false
      security: []
      tags:
        - Referrals
  /setup-intents:
    post:
      summary: Create a setup intent
      operationId: post-setup-intent
      responses:
        "200":
          description: Setup intent created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_secret:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                provider_id:
                  type: integer
                customer:
                  type: string
                overrides:
                  type: object
                  properties:
                    payment_method_types:
                      type: array
                      items:
                        type: string
              required:
                - provider_id
                - customer
        description: Creates a new setup intent on Stripe.
      description: Create a new setup intent.
      x-internal: false
      tags:
        - Setup Intents
    parameters: []
  /stages:
    parameters: []
    get:
      summary: List stages
      operationId: get-stages
      responses:
        "200":
          description: Returns a list of Stage objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Stage"
      description: Retrieve a list of stages.
      x-internal: false
      security: []
      tags:
        - Stages
  /students:
    parameters: []
    post:
      summary: Create a student
      operationId: post-student
      responses:
        "201":
          description: Student created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Student"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                provider_id:
                  type: integer
                first_name:
                  type: string
                last_name:
                  type: string
                dob:
                  type: string
                  format: date
                medical:
                  type: string
                relation:
                  type: string
                stage_id:
                  type: integer
                notes:
                  type: string
              required:
                - first_name
                - last_name
        description: Creates a new family member.
      description: Create a new family member.
      x-internal: false
      tags:
        - Students
    get:
      summary: List students
      operationId: get-students
      responses:
        "200":
          description: |-
            Returns a list of Student objects.

            When the class filter is provided, the list contains only students who qualify the class based on age.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Student"
      description: Retrieve a list of family members.
      x-internal: false
      tags:
        - Students
      parameters:
        - schema:
            type: integer
          in: query
          name: "filter[class]"
          description: ID of the class
  "/students/{studentId}":
    parameters:
      - schema:
          type: string
        name: studentId
        in: path
        required: true
    get:
      summary: Get a student
      tags:
        - Students
      responses:
        "200":
          description: Returns a Student object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Student"
        "403":
          description: Forbidden.
        "404":
          description: Student not found.
      operationId: get-student
      description: Retrieve the family member.
      x-internal: false
    patch:
      summary: Update a student
      operationId: patch-student
      responses:
        "200":
          description: Returns a Student object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Student"
        "403":
          description: Forbidden.
        "404":
          description: Student not found.
      description: Update the family member.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                dob:
                  type: string
                  format: date
                medical:
                  type: string
                relation:
                  type: string
              required:
                - first_name
                - last_name
        description: Updates the family member.
      x-internal: false
      tags:
        - Students
  "/students/{studentId}/stages":
    parameters:
      - schema:
          type: string
        name: studentId
        in: path
        required: true
    post:
      operationId: post-student-stage
      summary: Award student stage
      description: Award a student stage.
      requestBody:
        description: Awards a new student stage.
        content:
          application/json:
            schema:
              type: object
              properties:
                stage_id:
                  type: integer
                awarded_on:
                  type: string
              required:
                - stage_id
      responses:
        "200":
          description: Return a list of StudentStage objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  student_id:
                    type: integer
                  stage_id:
                    type: integer
                  active:
                    type: boolean
                  awarded_on:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  stage:
                    type: object
                    properties:
                      id:
                        type: integer
                      provider_id:
                        type: integer
                      name:
                        type: string
                      class_image:
                        type: string
                      order:
                        type: integer
                      public:
                        type: boolean
                      archived_at:
                        type: string
                      created_at:
                        type: string
                      updated_at:
                        type: string
      x-internal: false
      tags:
        - Students
    get:
      operationId: get-student-stages
      summary: List student stages
      description: Retrieve a list of the family members stages.
      tags:
        - Students
      responses:
        "200":
          description: Return a list of StudentStage objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/StudentStage"
        "403":
          description: Forbidden.
        "404":
          description: Student not found.
      x-internal: false
  "/students/{studentId}/student-stages/{studentStageId}":
    parameters:
      - schema:
          type: string
        name: studentId
        in: path
        required: true
      - schema:
          type: string
        name: studentStageId
        in: path
        required: true
    delete:
      operationId: delete-student-stage
      summary: Delete student stage
      description: Delete a student stage.
      responses:
        "204":
          description: Student Stage deleted.
      x-internal: false
      tags:
        - Students
  "/students/{studentId}/goals/{goalId}/status":
    parameters:
      - schema:
          type: string
        name: studentId
        in: path
        required: true
      - schema:
          type: string
        name: goalId
        in: path
        required: true
    post:
      operationId: post-student-goal-status
      summary: Record student goal status
      description: Record a new status for a student goal. Upserts the student goal row and appends a transition.
      requestBody:
        description: The status to record.
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  $ref: "#/components/schemas/StudentGoalStatus"
                booking_id:
                  type: integer
      responses:
        "200":
          description: Returns the updated StudentGoal object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/StudentGoal"
        "403":
          description: The caller is not permitted to make that transition (e.g. a teacher reverting a mastered goal).
      x-internal: false
      tags:
        - Students
  /subscriptions:
    parameters: []
    get:
      summary: List subscriptions
      operationId: get-subscriptions
      responses:
        "200":
          description: Returns a list of Subscription objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Subscription"
      description: Retrieve a list of subscriptions.
      parameters:
        - schema:
            type: integer
          in: query
          name: "filter[provider]"
          description: ID of the provider
        - schema:
            type: integer
          in: query
          name: "filter[student]"
          description: ID of the student
      tags:
        - Subscriptions
  "/subscriptions/{subscriptionId}/activate":
    parameters:
      - schema:
          type: string
        name: subscriptionId
        in: path
        required: true
    post:
      operationId: post-activate-subscription
      summary: Activate subscription
      description: Activate a subscription.
      responses:
        "204":
          description: No content.
      tags:
        - Subscriptions
  "/subscriptions/{subscriptionId}/pay":
    parameters:
      - schema:
          type: string
        name: subscriptionId
        in: path
        required: true
    post:
      summary: Pay subscription
      operationId: post-pay-subscription
      responses:
        "204":
          description: No content.
      description: Pay a subscription.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_intent:
                  type: string
        description: Pays for a subscription.
      tags:
        - Subscriptions
  /terms:
    parameters: []
    get:
      summary: List terms
      operationId: get-terms
      responses:
        "200":
          description: Returns a list of Term objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Term"
      description: Retrieve a list of terms.
      x-internal: false
      security: []
      tags:
        - Terms
  /activate:
    parameters: []
    post:
      summary: Activate a user
      operationId: post-activate
      responses:
        "204":
          description: No content.
      description: Activate a user account.
      security: []
      tags:
        - Users
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                terms:
                  type: object
                  additionalProperties:
                    type: boolean
                marketing:
                  type: object
                  additionalProperties:
                    type: boolean
        description: Activates the users account.
  "/providers/{providerId}/accept":
    parameters:
      - schema:
          type: string
        name: providerId
        in: path
        required: true
    post:
      operationId: post-connect-accept
      summary: Connect accept
      description: Acccept a connect request.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                terms:
                  type: boolean
                marketing:
                  type: boolean
        description: Accepts the providers connect request.
      responses:
        "204":
          description: No content.
      security: []
      tags:
        - Users
  "/providers/{providerId}/reject":
    parameters:
      - schema:
          type: string
        name: providerId
        in: path
        required: true
    post:
      operationId: post-connect-reject
      summary: Connect reject
      description: Reject a connect request.
      responses:
        "204":
          description: No content.
      security: []
      tags:
        - Users
  /venues:
    parameters: []
    get:
      summary: List venues
      operationId: get-venues
      responses:
        "200":
          description: Returns a list of Venue objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Venue"
      description: Retrieve a list of venues.
      x-internal: false
      security: []
      tags:
        - Venues
  "/venues/{venueId}":
    parameters:
      - schema:
          type: string
        name: venueId
        in: path
        required: true
    get:
      summary: Get a venue
      responses:
        "200":
          description: Returns a Venue object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Venue"
        "404":
          description: Venue not found.
      operationId: get-venue
      description: Retrieve the venue.
      x-internal: false
      security: []
      tags:
        - Venues
  /vouchers:
    parameters: []
    post:
      summary: Create a voucher
      operationId: post-voucher
      responses:
        "200":
          description: Voucher created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Voucher"
      description: Create a new voucher.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: integer
                name:
                  type: string
                email:
                  type: string
                payment_intent:
                  type: string
                terms:
                  type: boolean
              required:
                - product_id
                - name
                - email
                - terms
        description: Creates a new voucher.
      tags:
        - Vouchers
  /vouchers/check:
    parameters: []
    post:
      summary: Check a voucher
      operationId: post-voucher-check
      responses:
        "200":
          description: Returns a message relating to the status of the voucher.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
      description: Check a voucher code.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
        description: Checks a voucher code exists.
      tags:
        - Vouchers
  /waitees:
    parameters: []
    post:
      summary: Create a waitee
      operationId: post-waitee
      responses:
        "200":
          description: Waitee created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Waitee"
      tags:
        - Waitees
      description: Create a new waitee.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                provider_id:
                  type: integer
                first_name:
                  type: string
                last_name:
                  type: string
                email:
                  type: string
                telephone:
                  type: string
                students:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      first_name:
                        type: string
                      last_name:
                        type: string
                      dob:
                        type: string
                        format: date
                      medical:
                        type: string
                      stage_id:
                        type: integer
                venues:
                  type: array
                  items:
                    type: integer
                days:
                  type: array
                  items:
                    type: object
                    properties:
                      day:
                        type: string
                      time:
                        type: string
                    required:
                      - day
                notes:
                  type: string
              required:
                - provider_id
                - students
                - venues
                - days
        description: |-
          Creates a new waitee.
          If a user is signed in, `students.id` is required and the waitee will be associated to the authenticated user.
          If no user is signed in, `first_name`, `last_name`, `email`, `telephone`, `students.first_name` and `students.last_name` are required.
  "/waitees/{inviteCode}":
    parameters:
      - schema:
          type: string
        name: inviteCode
        in: path
        required: true
    get:
      summary: Get a waitee
      parameters:
        - schema:
            type: integer
          in: query
          name: "filter[class]"
          description: ID of the class
      responses:
        "200":
          description: Returns a Waitee object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Waitee"
        "404":
          description: Waitee not found.
      operationId: get-waitee
      description: Retrieve the waitee.
      x-internal: false
      security: []
      tags:
        - Waitees
    delete:
      summary: Delete a waitee
      operationId: delete-waitee
      responses:
        "204":
          description: Waitee deleted.
      description: Delete a waitee.
      tags:
        - Waitees
components:
  schemas:
    Booking:
      title: Booking
      type: object
      required:
        - id
        - ref
        - student_id
        - student_name
        - provider_id
        - provider_name
        - class_id
        - class_name
        - teacher_name
        - venue_name
        - net
        - gross
        - balance
      properties:
        id:
          type: integer
        ref:
          type: string
        student_id:
          type: integer
        student_name:
          type: string
        provider_id:
          type: integer
        provider_name:
          type: string
        class_id:
          type: integer
        class_name:
          type: string
        teacher_name:
          type: string
        venue_name:
          type: string
        net:
          type: integer
        gross:
          type: integer
        balance:
          type: integer
        credit:
          type: integer
        catch_up:
          type: boolean
        payment_method:
          type: string
          enum:
            - card
            - subscription
            - bank
            - bacs
        payment_method_label:
          type: string
        price_type:
          type: string
        next_session:
          type: string
          format: date-time
        next_session_ends_at:
          type: string
          format: date-time
        last_session:
          type: string
          format: date-time
        processing_payments_count:
          type: integer
        successful_payments_count:
          type: integer
        sessions:
          type: array
          items:
            $ref: "#/components/schemas/BookingSession"
        class:
          $ref: "#/components/schemas/Class"
    BookingSession:
      title: BookingSession
      type: object
      required:
        - id
        - date_time
        - attended
        - absent
        - banked
        - cancelled
        - session
      properties:
        id:
          type: integer
        date_time:
          type: string
          format: date-time
        attended:
          type: boolean
        absent:
          type: boolean
        banked:
          type: boolean
        cancelled:
          type: boolean
        session:
          $ref: "#/components/schemas/Session"
        catchUpSession:
          $ref: "#/components/schemas/BookingSession"
    Category:
      title: Category
      type: string
      enum:
        - "create"
        - "explore"
        - "learn"
        - "listen"
        - "move"
        - "perform"
        - "play"
        - "relax"
        - "taste"
        - "watch"
    Class:
      title: Class
      type: object
      required:
        - id
        - name
        - session_cost
        - sell
        - provider_id
        - provider_name
        - provider_handle
        - term_name
        - teacher_name
        - spaces_count
        - venue
      properties:
        id:
          type: integer
        name:
          type: string
        image:
          type: string
        description:
          type: string
        session_cost:
          type: integer
        trial_allowed:
          type: boolean
        trial_cost:
          type: integer
        catch_ups_allowed:
          type: boolean
        age_range:
          type: string
        sell:
          type: boolean
        provider_id:
          type: integer
        provider_name:
          type: string
        provider_class_image:
          type: string
        provider_handle:
          type: string
        provider_age_range:
          type: boolean
        term_name:
          type: string
        teacher_name:
          type: string
        stage_name:
          type: string
        stage_class_image:
          type: string
        spaces_count:
          type: integer
        invited_waitees_count:
          type: integer
        next_session:
          type: string
          format: date-time
        next_session_ends_at:
          type: string
          format: date-time
        sessions:
          type: array
          items:
            $ref: "#/components/schemas/Session"
        venue:
          $ref: "#/components/schemas/Venue"
    ClassWithType:
      title: ClassWithType
      allOf:
        - $ref: "#/components/schemas/Class"
        - type: object
          required:
            - type
          properties:
            type:
              type: string
              enum:
                - activity
    Discount:
      title: Discount
      type: object
      required:
        - id
      properties:
        id:
          type: integer
        description:
          type: string
        percent_off:
          type: integer
    Facility:
      title: Facility
      type: string
      enum:
        - "free-wifi"
        - "lockers-available"
        - "onsite-cafe"
        - "onsite-parking"
        - "pet-friendly"
        - "baby-changing"
        - "quiet-zones"
        - "soft-play"
        - "accessible-parking"
        - "accessible-restrooms"
        - "changing-places"
        - "service-dog-friendly"
        - "lift-access"
        - "step-free-access"
        - "wheelchair-access"
        - "assistive-technology-available"
        - "hearing-loop-system"
        - "multilingual-interpretation"
        - "sign-language-interpretation"
        - "autism-neurodiversity-inclusive"
        - "send-trained"
        - "small-group-options"
        - "support-worker-carer-welcome"
    Link:
      title: Link
      type: object
      required:
        - provider_id
        - provider_name
        - user_id
        - user_name
        - stripe_id
        - balance
      properties:
        provider_id:
          type: integer
        provider_name:
          type: string
        user_id:
          type: string
        user_name:
          type: string
        stripe_id:
          type: string
        balance:
          type: integer
        visible_balance:
          type: integer
        processing_amount:
          type: integer
        card_last_four:
          type: string
        bacs_last_four:
          type: string
        marketing_consent:
          type: boolean
        photo_consent:
          type: boolean
        session_reminders:
          type: boolean
        connected_at:
          type: string
          format: date-time
    Order:
      title: Order
      type: object
      required:
        - id
        - product_name
      properties:
        id:
          type: integer
        product_name:
          type: string
    Payment:
      title: Payment
      type: object
      required:
        - id
        - payment_date
        - amount
        - status
        - provider_name
      properties:
        id:
          type: integer
        payment_date:
          type: string
          format: date-time
        amount:
          type: integer
        status:
          type: string
          enum:
            - Successful
            - Failed
            - Refunded
        provider_name:
          type: string
        booking:
          $ref: "#/components/schemas/Booking"
        order:
          $ref: "#/components/schemas/Order"
        student:
          $ref: "#/components/schemas/Student"
        subscription:
          $ref: "#/components/schemas/Subscription"
    PhotoConsentContent:
      type: object
      required:
        - content
      properties:
        content:
          type: string
    PhotoConsentLink:
      type: object
      required:
        - link
      properties:
        link:
          type: string
    Plan:
      title: Plan
      type: object
      required:
        - id
        - net
        - gross
      properties:
        id:
          type: integer
        net:
          type: integer
        gross:
          type: integer
    Price:
      title: Price
      type: object
      required:
        - id
        - type
        - payment_method
      properties:
        id:
          type: integer
        name:
          type:
            - string
            - "null"
        description:
          type:
            - string
            - "null"
        type:
          type: string
          enum:
            - perSession
            - perTrial
            - fixedCost
        payment_method:
          type: string
          enum:
            - card
            - subscription
            - bank
            - bacs
        fixed_cost:
          type: integer
        session_limit:
          type: integer
        session_selection_type:
          type: string
          enum:
            - fixedStart
            - flexiStart
            - cherryPick
        plan:
          $ref: "#/components/schemas/Plan"
    Product:
      title: Product
      type: object
      required:
        - id
        - name
        - cost
      properties:
        id:
          type: integer
        name:
          type: string
        cost:
          type: integer
    Provider:
      title: Provider
      type: object
      required:
        - id
        - name
        - handle
        - email
        - absorb_fee
        - progress_mode
      properties:
        id:
          type: integer
        name:
          type: string
        icon:
          type: string
        class_image:
          type: string
        strapline:
          type: string
        description:
          type: string
        handle:
          type: string
        email:
          type: string
        telephone:
          type: string
        website:
          type: string
        stripe_id:
          type: string
        absorb_fee:
          type: boolean
        verified:
          type: boolean
        featured:
          type: boolean
        progress_mode:
          $ref: "#/components/schemas/ProgressMode"
        booking_settings:
          type: object
          properties:
            dob:
              type: boolean
            notes:
              type: boolean
            medical:
              type: boolean
            space:
              type: boolean
            referral:
              type: boolean
            stage:
              type: boolean
            age_range:
              type: boolean
            same_day:
              type: boolean
            loco_parentis:
              type: boolean
            advertise_full:
              type: boolean
        catch_up_settings:
          type: object
          properties:
            enabled:
              type: boolean
            banking:
              type: integer
            booking:
              type: integer
            expiration:
              type: integer
            limit:
              type: integer
        waiting_list_settings:
          type: object
          properties:
            enabled:
              type: boolean
            limit_days:
              type: boolean
            notes:
              type: boolean
        notification_settings:
          type: object
          properties:
            session_reminders:
              type: boolean
        categories:
          type: array
          items:
            $ref: "#/components/schemas/Category"
        types:
          type: array
          items:
            $ref: "#/components/schemas/Type"
        facilities:
          type: array
          items:
            $ref: "#/components/schemas/Facility"
        terms_and_conditions:
          type: string
        privacy_policy:
          type: string
        photo_consent:
          oneOf:
            - $ref: "#/components/schemas/PhotoConsentContent"
            - $ref: "#/components/schemas/PhotoConsentLink"
        connected_at:
          type: string
          format: date-time
        terms:
          type: array
          items:
            $ref: "#/components/schemas/Term"
        venues:
          type: array
          items:
            $ref: "#/components/schemas/Venue"
        stages:
          type: array
          items:
            $ref: "#/components/schemas/Stage"
        vouchers:
          type: array
          items:
            $ref: "#/components/schemas/Product"
    ProviderWithType:
      title: ProviderWithType
      allOf:
        - $ref: "#/components/schemas/Provider"
        - type: object
          required:
            - type
          properties:
            type:
              type: string
              enum:
                - provider
    Session:
      title: Session
      type: object
      required:
        - id
        - date_time
        - cancelled
        - spaces_count
      properties:
        id:
          type: integer
        date_time:
          type: string
          format: date-time
        moved_from:
          type: string
          format: date-time
        teacher_name:
          type: string
        venue_name:
          type: string
        cancelled:
          type: boolean
        spaces_count:
          type: integer
        class:
          $ref: "#/components/schemas/Class"
    Stage:
      title: Stage
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
        name:
          type: string
    Student:
      title: Student
      type: object
      required:
        - id
        - first_name
        - last_name
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        dob:
          type: string
          format: date
        medical:
          type: string
        relation:
          type: string
    StudentGoal:
      title: StudentGoal
      type: object
      required:
        - id
        - name
        - status
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          $ref: "#/components/schemas/StudentGoalStatus"
        achieved_at:
          type: string
          format: date-time
        description:
          type: string
        image_url:
          type: string
          format: uri
        video_url:
          type: string
          format: uri
    StudentGoalStatus:
      title: StudentGoalStatus
      type: string
      enum:
        - "notStarted"
        - "introduced"
        - "developing"
        - "mastered"
    ProgressMode:
      title: ProgressMode
      type: string
      enum:
        - "basic"
        - "idm"
    StudentStage:
      title: StudentStage
      type: object
      required:
        - id
        - name
        - provider_id
        - provider_name
        - active
        - goals
      properties:
        id:
          type: integer
        name:
          type: string
        provider_id:
          type: integer
        provider_name:
          type: string
        active:
          type: boolean
        awarded_on:
          type: string
          format: date
        badge_image_url:
          type: string
          format: uri
        description:
          type: string
        certificate_url:
          type: string
          format: uri
        goals:
          type: array
          items:
            $ref: "#/components/schemas/StudentGoal"
    Subscription:
      title: Subscription
      type: object
      required:
        - id
        - provider_id
        - plan_name
        - student_name
        - payment_method
        - goal
        - amount
        - stripe_active
        - starts_at
        - trial_ends_at
        - outstanding_payments_count
      properties:
        id:
          type: integer
        provider_id:
          type: integer
        plan_name:
          type: string
        student_name:
          type: string
        payment_method:
          type: string
        goal:
          type: integer
        amount:
          type: integer
        stripe_active:
          type: boolean
        starts_at:
          type: string
          format: date-time
        trial_ends_at:
          type: string
          format: date-time
        outstanding_payments_count:
          type: integer
    Term:
      title: Term
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
        name:
          type: string
    Type:
      title: Type
      type: string
      enum:
        - "accessible-inclusive-places"
        - "baby-toddler"
        - "community-events"
        - "family-days-out"
        - "holiday-camps"
        - "indoor-activities"
        - "kids-activities"
        - "outdoor-activities"
        - "pet-friendly-spaces"
        - "seasons-traditions"
    User:
      title: User
      type: object
      required:
        - id
        - first_name
        - last_name
        - email
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        telephone:
          type: string
        street:
          type: string
        town:
          type: string
        region:
          type: string
        postcode:
          type: string
        emergency_name:
          type: string
        emergency_telephone:
          type: string
        emergency_relationship:
          type: string
        activated_at:
          type: string
          format: date-time
    Venue:
      title: Venue
      type: object
      required:
        - id
        - name
        - address
        - latitude
        - longitude
      properties:
        id:
          type: integer
        name:
          type: string
        image:
          type: string
        address:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        distance:
          type: number
        information:
          type: string
        parking:
          type: string
        landmarks:
          type: string
        changing_facilities:
          type: string
    Voucher:
      title: Voucher
      type: object
      required:
        - id
        - value
        - remaining_value
      properties:
        id:
          type: integer
        value:
          type: integer
        remaining_value:
          type: integer
    Waitee:
      title: Waitee
      type: object
      required:
        - id
      properties:
        id:
          type: integer
        invite_code:
          type: string
        invited_at:
          type: string
          format: date-time
        expired:
          type: boolean
        provider:
          $ref: "#/components/schemas/Provider"
        class:
          $ref: "#/components/schemas/Class"
    PaginationLinks:
      title: PaginationLinks
      type: object
      properties:
        first:
          type:
            - string
            - "null"
          example: "https://api.dodays.co.uk/v1/discover?page=1"
        last:
          type:
            - string
            - "null"
          example: "https://api.dodays.co.uk/v1/discover?page=7"
        prev:
          type:
            - string
            - "null"
          example: null
        next:
          type:
            - string
            - "null"
          example: "https://api.dodays.co.uk/v1/discover?page=2"
    PaginationMetaLink:
      title: PaginationMetaLink
      type: object
      properties:
        url:
          type:
            - string
            - "null"
        label:
          type: string
        page:
          type:
            - integer
            - "null"
        active:
          type: boolean
    PaginationMeta:
      title: PaginationMeta
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        from:
          type:
            - integer
            - "null"
          example: 1
        last_page:
          type: integer
          example: 7
        links:
          type: array
          items:
            $ref: "#/components/schemas/PaginationMetaLink"
        path:
          type: string
          example: "https://api.dodays.co.uk/v1/discover"
        per_page:
          type: integer
          example: 20
        to:
          type:
            - integer
            - "null"
          example: 20
        total:
          type: integer
          example: 123
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
  parameters: {}
  requestBodies:
    Register:
      content:
        application/json:
          schema:
            type: object
            properties:
              first_name:
                type: string
              last_name:
                type: string
              email:
                type: string
              password:
                type: string
              password_confirmation:
                type: string
              telephone:
                type: string
              terms:
                type: boolean
              device_name:
                type: string
            required:
              - first_name
              - last_name
              - email
              - password
              - password_confirmation
              - telephone
              - terms
              - device_name
          examples:
            Example 1:
              value:
                first_name: DoDays
                last_name: User
                email: user@dodays.co.uk
                password: password
                password_confirmation: password
                telephone: "01912345678"
                terms: true
                device_name: Device
      description: Creates and authenticates a new User and generates a new Token.
    Token:
      content:
        application/json:
          schema:
            type: object
            properties:
              email:
                type: string
              password:
                type: string
              device_name:
                type: string
            required:
              - email
              - password
              - device_name
          examples:
            Example 1:
              value:
                email: user@dodays.co.uk
                password: password
                device_name: Device
      description: Authenticates the User credentials and generates a new Token.
    ForgotPassword:
      content:
        application/json:
          schema:
            type: object
            properties:
              email:
                type: string
            required:
              - email
          examples:
            Example 1:
              value:
                email: user@dodays.co.uk
      description: Sends a new password reset email.
    ResetPassword:
      content:
        application/json:
          schema:
            type: object
            properties:
              token:
                type: string
              email:
                type: string
              password:
                type: string
              password_confirmation:
                type: string
            required:
              - token
              - email
              - password
              - password_confirmation
          examples:
            Example 1:
              value:
                token: abc123
                email: user@dodays.co.uk
                password: password
                password_confirmation: password
      description: Resets the User password.
  responses:
    Token:
      description: Returns a token string.
      content:
        application/json:
          schema:
            type: object
            properties:
              token:
                type: string
          examples:
            Example 1:
              value:
                token: 1|t0k3n
    User:
      description: Returns a User object.
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                $ref: "#/components/schemas/User"
    Status:
      description: Returns a status string.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
          examples:
            Example 1:
              value:
                status: We have emailed your password reset link.
            Example 2:
              value:
                status: Your password has been reset.
security:
  - Authorization: []
tags:
  - name: Abilities
    description: Abilities operations
  - name: Account
    description: Account operations
  - name: Activities
    description: Activities operations
  - name: Auth
    description: Auth operations
  - name: Booking Sessions
    description: Booking Sessions operations
  - name: Bookings
    description: Bookings operations
  - name: Catch-ups
    description: Catch-ups operations
  - name: Classes
    description: Classes operations
  - name: Coupons
    description: Coupons operations
  - name: Days
    description: Days operations
  - name: Discover
    description: Discover operations
  - name: Links
    description: Links operations
  - name: Metrics
    description: Metrics operations
  - name: Payment Intents
    description: Payment Intents operations
  - name: Payments
    description: Payments operations
  - name: Ping
    description: Ping operation
  - name: Prices
    description: Prices operations
  - name: Providers
    description: Providers operations
  - name: Referrals
    description: Referrals operations
  - name: Setup Intents
    description: Setup Intents operations
  - name: Stages
    description: Stages operations
  - name: Students
    description: Students operations
  - name: Subscriptions
    description: Subscriptions operations
  - name: Terms
    description: Terms operations
  - name: Users
    description: Users operations
  - name: Venues
    description: Venues operations
  - name: Vouchers
    description: Vouchers operations
  - name: Waitees
    description: Waitees operations
